/* Fonts */
@font-face {
  font-family: 'Kalam';
  src: url('../fonts/Kalam/Kalam-Regular.ttf');
}
@font-face {
    font-family: 'Gruppo';
    src: url('../fonts/Gruppo/Gruppo-Regular.ttf');
}

/* Tags  */
textarea {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  color: black;
}

/* Classes */
.loading-screen {
  width: 100vw;
  height: 100vh;
}

.add-circle-container {
  text-align: right;
  margin-right: 8%;
}

.questions-page {
  font-family: 'Kalam', cursive;
  background-color: #1A1463;
  color: #FFFFFF;
}

.questions-page h2, h3 {
  text-align: center;
}

.inner-navbar {
  text-align: left;
  margin-top: 2%;
  margin-left: 2%;
}

.theWhy-question {
  text-align: center;
}

.theWhy-inner-toolbar {
  text-align: right;
}

.theWhy-wrapper {
  background-color: white;
  margin: 40px 5%;
  padding: 3%;
  height: 50%;
}

.tab-link-active {
  color: black;
}

.main-toolbar div {
  text-align: center;
  margin: auto;
}

.main-page {
  background-color: #6FCCFF;
  color: #5E21BA;
  font-family: 'Gruppo', cursive;
}

.popup {
  background-color: #6FCCFF;
  color: #5E21BA;
  font-family: 'Gruppo', cursive;
}

.popup-add-habit h1 {
  text-align: center;
  font-size: 3.0em;
}

.radio-option {
  margin-left: 8%;
}

.align-center {
  text-align: center;
}

.small-button {
  --button-width: 60%;
  width: var(--button-width);
  display: inline-block;
  position: absolute;
  bottom: 5%;
  left: calc(50% - var(--button-width) / 2);
}

.item-title {
  font-size: 1.4em;
}

.item-label {
  font-size: 24px;
}

.inline-label {
  font-size: 1.6em;
}
/* IDs */
#objectives-list input {
  color: #FFFFFF;
}

#objectives-list input::placeholder {
  color: #FFFFFF;
  opacity: 0.5;
}

#values-list input {
  color: #FFFFFF;
}

#values-list input::placeholder {
  color: #FFFFFF;
  opacity: 0.5;
}

#habits h1 {
  text-align: center;
}

#no-habits-message {
  text-align: center;
  margin: 0 5%;
  font-size: 1.2em;
}

#habits-list {
  width: 80%;
  margin: auto;
  border: 2px solid #81e4da;
  display: none;
}

#habits-list li {
  border-bottom: 1px solid #81e4da;
}

#splash-screen-preloader {
  position: absolute;
  bottom: 5%;
  left: 47%;
}

#popup-day-input {
  display: none;
}

#popup-custom-day-input {
  display: none;
  margin: 0;
}

#popup-custom-day-input p {
  text-align: center;
}

#popup-time-reminder-input {
  margin-left: 8%;
}

#popup-time-reminder-input input {
  font-size: 1.4em;
  margin-right: 8%;
}

#add-habits-list li {
  margin-top: 10px;
}

#habit-name .item-label {
  font-size: 1.6em;
}

#popup-time-reminder-input .item-label {
  font-size: 1.6em;
  width: 50%
}

#popup-day-input {
  text-align: center;
}

#popup-day-input .item-label {
  font-size: 1.6em;
  width: 50%;
}

#popup-day-input .item-input-wrap {
  width: 50%;
  text-align: center;
}

#pop-day-input input {
  margin-right: 20px;
}

#popup-add-journal {
  margin-left: 8%;
}

#create-habit-button {
  background-color: #1A1463;
  color: #FFFFFF;
  height: 40px;
}

#finished-editing-button {
  background-color: #1A1463;
  color: #FFFFFF;
}

#delete-habit-button {
  background-color: #db5c5c;
  color: #FFFFFF;
}

#edit-habit-buttons {
  display: none;
  position: absolute;
  width: 100%;
  bottom: 2%;
}
/* Typography */
